/** {
  border: 1px solid black;
}*/

body {
    animation: pulse 80s infinite alternate;
    background-color: #FFEAEA;
}

/* body background animation */
@keyframes pulse {
      0% {background-color: #FFEAEA;}
     17% {background-color: #F8E9FC;}
     34% {background-color: #F2F9F8;}
     50% {background-color: #FFE3FF;}
     67% {background-color: #EFF9FC;}
     84% {background-color: #FAE7EC;}
    100% {background-color: #EEEEFF;}
}

h1 {
  text-align: center;
}

.containerDiv {
  min-width: 95%;
  margin: 10px auto;
  text-align: center;
}

#leftArrow, #rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  display: inline-block;
}

#leftArrow {
  border-right: 30px solid blue;
}

#leftArrow:hover {
  border-right: 30px solid limegreen;
}

.goPrevious p:hover {
  color: limegreen;
}

#rightArrow {
  border-left: 30px solid blue;
}

#rightArrow:hover {
  border-left: 30px solid limegreen;
}

.goNext p:hover {
  color: limegreen;
}

.goPrevious, .goNext {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: 170px;

  animation: pulse 80s infinite alternate; /* keeps visibity when screen is very small */
  background-color: #FFEAEA;
  z-index: 5;
  opacity: 0.9;
  /*border: 1px solid black; for working to line up with .cohortInfo */
}

.goPrevious {
  left: 1%;
}

.goNext {
  right: 1%;
}

.goPrevious p, .goNext p {
  font-weight: bold;
  display: inline-block;
}

.cohortInfo { /* where the data is displayed */
  width: 75%;
  border: 10px solid black;
  padding: 5px 5px;
  font-size: 1.5em;
  display: inline-block;
  min-height: 250px;
  background-color: papayawhip;
}

.cohortInfo div {
  height: 250px;
} /* lets a colored border be set at the right size */

.indexRow {
    /*clear: both;  not necessary since not floating.*/
    width: 99%;
    margin: 5px auto;
    padding: 1px 1px;
    background-color: black;
    text-align: center;
}

.indexRow button {
  background-color: gold; /* hover yellow */
  color: black;
  font-weight: bold;
  margin: 30% auto;
  border-radius: 3px;
  text-align: center;
}

.indexRow button:hover {
  background-color: yellow; /* normal gold */
}

.indexRowCurrent {
  box-shadow: 0px 0px 40px 20px white; /* highlight for current person */
  position:relative;
  z-index: 1; /* needs position relative to get the shadow above both nearby divs */
}

.indexPersonDiv {
    height: 50px;
    width: 50px;
    font-weight: bold;
    display: inline-block;
    margin: 9px 1px;
}
