/** {
  border: 1px solid black;
}*/

h1 {
  text-align: center;
}

.containerDiv {
  min-width: 95%;
  margin: 10px auto;
  text-align: center;
}

#leftArrow, #rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  display: inline-block;
}

#leftArrow {
  border-right: 30px solid blue;
}

#leftArrow:hover {
  border-right: 30px solid limegreen;
}

.goPrevious p:hover {
  color: limegreen;
}

#rightArrow {
  border-left: 30px solid blue;
}

#rightArrow:hover {
  border-left: 30px solid limegreen;
}

.goNext p:hover {
  color: limegreen;
}

.goPrevious, .goNext {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}

.goPrevious p, .goNext p {
  font-weight: bold;
  display: inline-block;

}

.cohortInfo {
  width: 75%;
  border: 10px solid black;
  padding: 5px 5px;
  font-size: 1.5em;
  display: inline-block;
  min-height: 250px;
}


.indexRow {
    /*clear: both;  not necessary since not floating.*/
    width: 95%;
    margin: 5px auto;
    padding: 1px 1px;
    background-color: black;
    height: 70px;
    text-align: center;
}

.indexRow button {
  background-color: gold; /* hover yellow */
  color: black;
  font-weight: bold;
  margin: 30% auto;
  border-radius: 3px;
  text-align: center;
}

.indexRow button:hover {
  background-color: yellow; /* normal gold */
}

.indexRowCurrent {
  box-shadow: 0px 0px 40px 20px white; /* highlight for current person */
}

.indexPersonDiv {
    height: 50px;
    width: 50px;
    font-weight: bold;
    display: inline-block;
    margin: 9px 1px;
}
